# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.py text
*.toml text
*.md text
*.lock text
*.txt text
*.csv text

# Declare binary files to be stored unchanged
*.jpg binary
*.jpeg binary
*.png binary
*.mp4 binary
*.whl binary
*.so binary

# Ensure these files retain LF line endings
*.sh text eol=lf

# Handle Windows and Unix shell scripts
*.bat text eol=crlf
*.ps1 text eol=crlf

# Mark files that should not be diffed
*.lock -diff
*.whl -diff
*.so -diff
*.jpg -diff
*.jpeg -diff
*.png -diff
*.mp4 -diff
